:root {
  /* colours */
  --background-color: white;
  --text-color: black;
  --header-color: black;

  /* typography */
  --font: serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font);
  display: grid;
  place-items: center;
}

h1, h2, h3 {
  color: var(--header-color);
  margin-block: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}