:root {
  /* colours */
  --background-color: rgb(146, 153, 186);
  --text-color: rgb(232, 122, 214);
  --header-color: rgb(36, 97, 154);

  /* typography */
  --font: monospace;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font);
  display: grid;
  place-items: center;
}

h1, h2, h3 {
  color: var(--header-color);
  margin-block: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}